extends layout.pug

block content
	.row.justify-content-center: .col-auto: h1 #{title}

	table.index
		each post in indexData
			if post.path !== 'posts'
				-
					var day = post.date.toLocaleString(undefined, {
						timeZone: 'UTC', day: 'numeric'
					})
					var month = post.date.toLocaleString(undefined, {
						timeZone: 'UTC', month: 'numeric'
					})
					var year = post.date.toLocaleString(undefined, {
						timeZone: 'UTC', year: 'numeric'
					})

				tr
					td.text-align-right #{year}/#{month}/#{day}
					td: a(href='/'+post.path) #{post.title}
